.survey-layout {
  background-color: red;
  .survey-layout-header {
    background-color: aqua;
  }
  .survey-layout-content {
    background-color: yellow;
  }
  .survey-layout-footer {
    background-color: green;
  }
}