.survey-progress {
  .survey-progress__count {
    .survey-progress__count-text {
      padding: 2px 20px;
      background-color: app_vars.$theme-primary;
      color: app_vars.$text-white;
      border-radius: 5px;
    }
  }
  .survey-progress__bar {
    background-color: #ffeaa8;
    .survey-progress__bar-active {
      background-color: app_vars.$theme-second;
      filter: opacity(1) !important;
      width: var(--progress-percent, 0%);
      height: 100%;
      transition: width 0.6s ease-in-out, background-color 0.3s ease;
    }
  }
}
