.link-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, filter 0.3s ease;

  background-color: var(--background-color);
  color: var(--color);

  &:hover {
    filter: brightness(1.4); // Làm sáng màu nền (tương tự lighten)
    color: var(--color);
  }
}
