.survey-header {
  display: flex;
  // justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
}

.survey-tabs {
  display: flex;
  align-items: center;

  .tab-item {
    display: flex;
    align-items: center;
  }

  .tab-separator {
    color: #999;
    margin: 0 8px;
  }

  .MuiTab-root {
    font-weight: 500;
    font-size: 14px;
    text-transform: none;
    min-width: 100px;
    padding: 0;

    &.tab-active {
      color: #000;
      font-weight: 600;
    }

    &.tab-inactive {
      color: #999;
    }

    &.Mui-disabled {
      color: #999;
      opacity: 0.5;
    }
  }
}

.survey-actions {
  display: flex;
  gap: 12px;
  //Thịnh xóa màu ở đây
  .btn-save {
    text-transform: none;
  }

  button {
    text-transform: none;
  }
}

/* From Uiverse.io by satyamchaudharydev */
.spinner {
  --size: 30px;
  --first-block-clr: #005bba;
  --second-block-clr: #fed500;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner::after,
.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%,
  100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}
