.default-layout {
  // background-color: red;
  .default-layout-header {
    // background-color: aqua;
  }
  .default-layout-content {
    // background-color: yellow;
  }
  .default-layout-footer {
    // background-color: green;
  }
}
.btn-main-blue {
  background-color: var(--main-blue, #3e5dab) !important;
  color: #fff;
  border-radius: 20px !important;
  &:hover {
    background-color: darken(#3e5dab, 10%);
  }
}
