.default-layout {
  // background-color: red;
  .default-layout-header {
    // background-color: aqua;
  }
  .default-layout-content {
    background-color: app_vars.$background-color-primary;
  }
  .default-layout-footer {
    background-color: #3e5dab !important;
    width: 100%;
    .default-layout-footer__nav-links {
      color: white;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .default-layout-footer__copy-right {
      color: white;
      font-weight: 500;
    }
  }
}
:export {
  button_bgColor: app_vars.$theme-primary;
}
