.auth-layout {
  background-color: red;
  .auth-layout-header {
    background-color: aqua;
  }
  .auth-layout-content {
    background-color: yellow;
  }
  .auth-layout-footer {
    background-color: green;
  }
}