.home-page {
  .home-page__title {
    font-family: app_vars.$font-primary;
    color: app_vars.$text-primary;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
  }
  .home-page__sub-title {
    font-family: app_vars.$font-primary;
    color: app_vars.$text-primary;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
  }
  .progress-visualize {
    .progress-visualize__title {
      font-family: app_vars.$font-primary;
      color: app_vars.$text-primary;
      font-weight: 500;
      font-size: 36px;
      text-align: center;
    }
    .progress-visualize__image {
      background-color: app_vars.$bg-blue-2;
      .progress-visualize__image__icons {
        .progress-visualize__image__icons__container {
          background-color: rgba(25, 118, 210, 0.14);
          border-radius: 30px;
        }
        .progress-visualize__image__icons__text {
          font-family: app_vars.$font-primary;
          font-size: 24px;
          font-weight: "semibold";
          color: app_vars.$text-primary;
        }
      }
      .divider {
        background-color: app_vars.$bg-primary;
      }
    }
  }

  .benefit {
    font-family: app_vars.$font-primary;
    .benefit__container {
      .benefit__container__text {
        .benefit__container__text__title {
          padding: 5px 20px;
          background-color: app_vars.$bg-secondary;
          color: app_vars.$text-primary;
          font-size: 40px;
          font-weight: bold;
          border-radius: 10px;
          width: 576px;
        }
        .benefit__container__text__sub-title {
          color: app_vars.$text-primary;
          font-size: 22px;
          text-align: justify;
          width: 576px;
        }
      }
    }
  }

  .banner {
    display: inline-block;
    position: relative;
    background-image: url("../../../assets/Image/Home/bannerBg.png");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    .banner__text {
      position: relative;
      z-index: 100;
      font-family: app_vars.$font-primary;
      font-size: 58px;
      font-weight: bold;
      color: app_vars.$text-secondary;
    }
  }
  .banner:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s linear;
  }

  .sub-footer {
    font-family: app_vars.$font-primary;
    background-color: app_vars.$bg-primary;
    .sub-footer__title {
      font-size: 40px;
      color: app_vars.$text-white;
      font-weight: bolder;
    }
    .sub-footer__sub-title {
      font-size: 14px;
      color: app_vars.$text-white;
      font-weight: bold;
    }
  }

  .features {
    .features-div {
      .features-div___title {
        font-size: 36px;
        font-weight: bold;
        font-family: app_vars.$font-primary;
        color: app_vars.$text-primary;
      }
    }
  }
}
