.community-survey-detail {
    padding: 24px;

    &__card {
        min-width: 400px;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        padding: 20px;
        font-family: 'inter', sans-serif;

        &-label {
            color: #807D7D;
        }
    }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.survey-info-card {
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #f3f4f6;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .label {
      font-size: 14px;
      color: #807D7D;
      font-weight: 500;
    }

    .value {
      font-size: 14px;
      color: black;
      font-weight: 600;
    }
  }
}

.community-survey-detail-tabs {
    margin-top: 32px;
    font-family: 'inter', sans-serif;

    .nav-item {
        button.nav-link {
            padding: 0.5rem 1.5rem;
            font-size: 1rem;
            color: #807D7D;
            border: none;
            background: none;

            &:hover {
                color: #3E5DAB;
                border-bottom: 2px solid #3E5DAB;
            }

            &.active {
                color: #3E5DAB;
                font-weight: 500;
                border-bottom: 2px solid #3E5DAB;
                background: none;
            }
        }
    }
    &__content {
        padding: 50px 24px;
        border: none;
    }
}
.xp-input-box {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0.3rem 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    width: fit-content;
    box-sizing: border-box;
}
